#bannerImage{
    position: absolute; /* This will position the image relative to the nearest positioned ancestor (or the viewport if no ancestor is positioned) */
    top: 40px;          /* Offset from the top of the viewport */
    left: 40px;         /* Offset from the left of the viewport */
    width: 100px;       /* Adjust this value to make the image smaller or larger */
    height: auto;       /* Maintains the aspect ratio of the image */
}

#headline{
    color: black;
    font-size: 5rem;
    font-family: Sacramento, serif;
    font-weight: 400;
    word-wrap: break-word;
}

#registerTxt{
    color: black;
    font-size: 3rem;
    font-family: Sacramento, serif;
    font-weight: 200;
    word-wrap: break-word;
}

#upennCampusImg{
    height: 85%;
    width: 85%;
}

@font-face {
    font-family: "Sacramento";
    src: url("./resources/fonts/Sacramento-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

.mainView{
    height: 100vh;
    margin: 5%;
}
